Body {
    background-color: rgb(21, 21, 83);
}

.header {
    background-color: rgb(16, 16, 47);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    color:black
}

