@font-face {
    font-family: Trajan;
    src: url(Trajan\ Pro\ Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src:url(poppins.regular.ttf)
}


Body {
    background-color: rgb(0, 0, 0);
   
}

.header {
    background-color:black;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    font-size: 30px;
    animation: fade-in 2s ease-in;
    background-image: url(https://images.squarespace-cdn.com/content/v1/606d159a953867291018f801/1619987722169-VV6ZASHHZNRBJW9X0PLK/Key_Art_02_layeredjpg.jpg?format=1500w);
    background-position: center;
    background-size: cover;
}

a{
    color:white;
    text-decoration:none;
    font-family:Trajan;
    
}

*{
    margin:0;
    padding:0;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.intro {
    font-size:30px;
    font-family: Trajan;
}


#img1 {
    margin-top:200px;
    margin-bottom: 50px;
    margin-right: 45px;
}


#intro1 {
    margin-top: 80px;
    display:flex;
    justify-content: center;
    animation: fade-in 2s ease-in;
    color:white;
    font-size:100px
}

.gif {
    margin-left: 30px;
}

.intro2 {
    
    animation: fade-in 2s ease-in;
    margin-top:20px;
    display:flex;
    color:white;
    font-size:40px;
    margin-left:50px;
    margin-right:60px

}

.characters {
    display: flex;
    justify-content: space-around;
    
}

.character-header {
    color:white;
    display:flex;
    justify-content:center;
    margin-top:150px;
    font-size:100px;
    font-family: Trajan;
    margin-bottom: 50px;
}

.img15 {
    width:300px;
    height:300px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

   
}

.img15:hover {
    width:325px;
    height:325px;
    
}

.gif {
    margin-right:50px
}

.names {
    color:white;
    font-family:Trajan;
    display:flex;
    justify-content: space-around;
}

.descriptions {
     color:white;
    font-family:Trajan;
    display:flex;
    justify-content: space-evenly;
    text-align:center;

}

.desc1 {
    filter:blur(5PX);
     transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    cursor:zoom-in;
}

.desc1:active {
    filter:none;
}

.footer {
    background-image: linear-gradient(black,rgb(38, 38, 111));
    background-size: cover 75px;
    display:flex;
    flex-direction:column;
    align-items:center;
   
}

#imgfooter {
    margin-top:100px;
    margin-bottom:60px;
}



.Everyone {
    display:flex;
    justify-content:center;
    margin-top: 100px;
    margin-bottom:100px;
}

#footerp {
    color:white;
    font-family:Poppins;
    font-size:20px;
    margin-left:200px;
    margin-right:200px;
    text-align: center;

}

#teamcherryquote {
    color:white;
    font-family:Poppins;
    margin-top:20px;
}

#link {
    margin-top:60px;
    border: 1px solid;
    padding:16.8px;
    background-color:white;
    color:rgb(38, 38, 111);
    font-size:20px;
    font-family:Poppins;
    margin-bottom:200px;
}

#dlc-header {
    color:white;
    display:flex;
    justify-content:center;
    font-size:100px;
    font-family:Trajan;
    margin-top:200px;
}

.dlc-images {
    display:flex;
    justify-content:space-between;
    margin-top: 70px;
    
}

.dlc-names {
    display:flex;
    color:white;
    justify-content:space-between;
    font-family:Trajan;
    margin-left:20px;
    margin-right:20px;
   
}

.dlc-desc {
    color:white;
    display:flex;
    justify-content:space-around;
    font-family:Trajan;
    text-align:center;
    margin-top:30px;

}

.desc2 {
    filter: blur(5px);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    cursor:zoom-in;
}

.desc2:active {
    filter:none;
}

.sound-desc {
    color:white;
    margin-left:50px;
}

.soundtrack {
    display:flex;
    font-family:Trajan;

}

#soundheader {
    font-size:70px;
    margin-top:100px
}

#soundpara {
    margin-top:50px
}

#soundlink {
    border: 1px solid white;
    padding:16.8px;
    color:black;
    background-color:white;
}

.soundimg {
    margin-top:100px;
    margin-right:50px;
    margin-bottom:70px;
}

.sndlink {
     margin-top:60px;
     margin-bottom:70px;
     
}

